<mat-nav-list class="header__container">
  <mat-list-item class="header__item" [routerLink]="'/'">Home</mat-list-item>
  <mat-list-item
    *ngIf="pokemons$ | async as pokemons"
    class="header__item"
    [matBadge]="pokemons.length"
    matBadgeColor="warn"
    [routerLink]="'/cart'"
    >Cart</mat-list-item
  >
  <mat-list-item
    class="header__item"
    *ngIf="(isLoggedIn | async) === true"
    href="#"
    (click)="logout()"
    >Logout
  </mat-list-item>
  <mat-list-item
    class="header__item"
    *ngIf="(isLoggedIn | async) === false"
    href="#"
    (click)="login()"
    >Login
  </mat-list-item>
</mat-nav-list>
