.header {
    &__container {
        background-color: black;
        display: flex;
        flex-direction: row;
    }

    &__item {
        color: white;
        cursor: pointer;
        &:hover {
            color: pink;
        }
    }
}